<link rel="stylesheet" href="/css/style.css">
<div class="project-item">Project <%=num%>:
    <img onmouseenter="displayMeta(<%=metadata['owner_id']%>)" onmouseleave="displayMeta(null)" width="300" height="300"
        src=<%=metadata['image_url']%>></img>
</div>
<script>

    function displayMeta(flag) {
        if (flag) {
            alert(flag);
        }
    }

</script>