<link rel="stylesheet" href="/css/style.css">
<div class="project-item">Project <%=num%>: <%=metadata%></div>
<script>

    function displayMeta(x) {
        var user = document.getElementById('userInfo');
        var change = document.getElementById('id');
        if (x == 1) {
            change.innerHTML = user.textContent;
        }
        if (x == 0) {
            change.innerHTML = "Hi";
        }
    }

</script>