<style>
    body {
        background-size: 400px;
    }
    p {
        background-color:white;
    }
</style>
<img onmouseenter="displayMeta(<%=metadata['owner_id']%>)" onmouseleave="displayMeta(null)" width="100%" height="auto"
    src=<%=metadata['image_url']%>>
</img>
<p id="project-id">PROJECT</p>
<script>

    // By default, hide tooltip
    document.addEventListener('DOMContentLoaded', function() {

    });

    // Display metadata on hover
    function displayMeta(owner) {
        // If owner not null, 
        if (owner) {
            document.getElementById('project-id').innerHTML = owner; 
        }
    }

</script>