<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Hackeye</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
        <div id="projects"><%=projects%></div>

        <%-include card.ejs%>
</body>

</html>