<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Hackeye</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="projects">
        <% for (var index =0; index<projects.length; index++) {%>
            <%-include('./card', {num: index, metadata: JSON.stringify(projects[index])}); %>
        <% }%>
    </div>
    <%=owner[0]%>
</body>

</html>