<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Hackeye</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 id="header"> PROJECTS</h1>
    <div id = "paging">
        <div id="prev-block">Previous</div> 
        <div id="next-block">Next</div>
    </div>
    <ul id="projects">
        <% for (var index =0; index<projects.length; index++) {%>
            <li id="project-item"><%-include('./card', {num: index+1, metadata: projects[index]}); %></li>
        <% }%>
    </ul>
    <p class="footer">Developed by: Howard Wang 2019</p>
</body>
<script>
    // Move prev/next nav on scroll
    document.addEventListener('scroll', function(){
        document.getElementById('paging').style.top = '5vw';
        document.getElementById('header').style.margin='40px 40px 0 40px';
    });
</script>
</html>