@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #000 url('../images/whitebox.jpg') repeat 0 0;
    -webkit-animation: 15s linear 0s normal none infinite animate;
    -moz-animation: 15s linear 0s normal none infinite animate;
    -ms-animation: 15s linear 0s normal none infinite animate;
    -o-animation: 15s linear 0s normal none infinite animate;
    animation: 15s linear 0s normal none infinite animate;
    background-position: center;
    background-size: 852px;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 10vw;
    text-align: center;
    padding-bottom: 0;
}
.load-msg {
    font-size: 40px;
    text-align: center;
    padding-bottom: 0;
}
h2 {
    font-size: 20px;
}

.logo-container {
    width: 100%;
    height: 100%;
    padding-top: 25%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#logo, #HackEye {
    display: inline-block;
}

#logo path:hover {
    fill: gray;
}

#HackEye:hover path {
    fill: gray;
}

#help-msg {
    font-size: 20px;
}

#projects {
    column-count: 1;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    list-style: none;
    padding-right: 10%;
    overflow-x: hidden;
}

#project-item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    background-color: white;
    float: left;
    width: 100%;
    height: auto;
    border-radius: 5%;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#project-item:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#paging {
    position: fixed;
    z-index: 2;
    top: 20vw;
    left: 0;
    right: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

#prev-block, #next-block {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius:5%;
    background-color: white;
    padding-top: 10px;
    height: 100%;
    float: left;
    display: block;
    text-align: center;
    width: 50%;
}

#prev-block:hover, #next-block:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.footer {
    padding-top:40px;
    height:70px;
    text-align: center;
}

@media only screen and (min-width:600px) {
    #projects {
        overflow: hidden;
        padding-right: 5%;
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}

@media only screen and (min-width:900px) {
    #projects {
        overflow: hidden;
        padding-right: 5%;
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
}

@-webkit-keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100vw 0;
    }
}

@-moz-keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100vw 0;
    }
}

@-ms-keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100vw 0;
    }
}

@-o-keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100vw 0;
    }
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100vw 0;
    }
}